<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wisk.ai/wp-content/uploads/2019/07/liquor-inventory-scale-2.jpg);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <p>Hell of a cocktail!</p>
  </div>
</div>

<div class="container overlap text-align-center">

  <!-- Title card -->

  <div class="card  align-middle m-3 w-100" style="width: 18rem;">
    <!-- Contains the info about restaurant -->
    <div class="card-body">
      <h3 class="card-title"><%= @cocktail.name %></h5>
      <p class="card-text">Recipe</p>
    </div>
  </div>

  <!-- Info & Form container -->

  <div class="container d-flex">

    <div class="card align-middle w-100" style="width: 18rem;">
      <!-- Contains the info about restaurant -->
      <div class="card-body">
        <h3 class="card-title">Info</h3>
        <p class="card-text">Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi temporibus facilis id nemo aperiam sunt optio doloremque ducimus minus pariatur, tempore numquam dolorum autem culpa ea voluptatum aspernatur, molestiae repellat.</p>
        <% dose_index = 0 %>
        <% @doses.each do |dose| %>
          <% dose_index += 1 %>

          <div class="card align-middle-w-100 my-1">
            <div class="card-body small-card d-flex justify-content-between">
              <p class=" align-middle">Dose <%= dose_index %> - <%= dose.description %> of <%= dose.ingredient.name %>.</p>
              <%= link_to "Delete", dose_path(dose.id), method: "delete", :class => "btn btn-danger" %>
            </div>
          </div>

        <% end %>
        <%= link_to 'Back', cocktails_path, :class => "btn btn-primary w-100" %>
      </div>
    </div>

    <!-- Form to add a dose -->
    <div class="card align-middle w-100 p-3">

      <div class="card-body">
        <h3 class="card-title">New dose</h3>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description%>
          <%= f.association :ingredient %>
          <%= f.submit%>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container my-3">
    <div class="card align-middle w-100 p-3">
        <div class="card-body">
          <h3 class="card-title">Cocktail reviews</h3>
          <% review_index = 0 %>
          <% @reviews.each do |review| %>
            <% review_index += 1 %>
            <p>Review <%= review_index %> - <%= review.content %> - <%= review.grade %>/5. <%= link_to "Delete", review_path(review.id), method: "delete", :class => "btn btn-danger" %></p>
          <% end %>
        </div>
        <div class="card align-middle w-100">
          <div class="card-body">
            <h3 class="card-title">Add a review</h3>
            <%= simple_form_for [@cocktail, @review] do |f| %>
              <%= f.input :content%>
              <%= f.input :grade %>
              <%= f.submit%>
            <% end %>
          </div>
        </div>
    </div>
  </div>


</div>
