<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wisk.ai/wp-content/uploads/2019/07/liquor-inventory-scale-2.jpg);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <p>Hell of a cocktail!</p>
  </div>
</div>

<!-- Intro Card with name and recipe -->

<div class="cards-container overlap text-align-center">

  <!-- Title card -->
  <div class="container">
    <div class="card  align-middle mb-3 w-100" style="width: 18rem;">
      <!-- Contains the info about restaurant -->
      <div class="card-body">
        <h3 class="card-title"><%= @cocktail.name %></h5>
        <p class="card-text">Recipe</p>
      </div>
    </div>
  </div>

  <!-- Info & Form container -->

  <div class="container d-flex">

    <div class="card align-middle w-100" style="width: 18rem;">
      <!-- Contains the info about restaurant -->
      <div class="card-body">
        <h3 class="card-title">Info</h3>
        <p class="card-text">Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi temporibus facilis id nemo aperiam sunt optio doloremque ducimus minus pariatur, tempore numquam dolorum autem culpa ea voluptatum aspernatur, molestiae repellat.</p>
        <% dose_index = 0 %>
        <h3 class="card-title">Doses</h3>
        <% @doses.each do |dose| %>
          <% dose_index += 1 %>
          <div class="flex">
            <p class="">Dose <%= dose_index %> - <%= dose.description %> of <%= dose.ingredient.name %>.
            <%= link_to dose_path(dose), method: :delete do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %></p>
      </div>
    </div>

    <!-- Form to add a dose -->
    <div class="card align-middle w-90">
      <img src="https://image.freepik.com/free-photo/male-bartender-pouring-cocktail-from-shaker_23-2148209359.jpg" class="card-img-top" alt="...">
      <div class="card-body">
      <button class="btn btn-primary w-100" id="add-ing-button">Add a dose!</button>

        <div id="form-dose-none">
          <h3 class="card-title">New dose</h3>
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <%= f.input :description%>
            <%= f.association :ingredient %>
            <%= f.submit class: 'btn btn-success w-100'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-3">
    <div class="card align-middle w-100 p-3">
        <div class="card-body">
          <h3 class="card-title">Cocktail reviews</h3>
          <% review_index = 0 %>
          <% @reviews.each do |review| %>
            <% review_index += 1 %>
            <p>Review <%= review_index %> - <%= review.content %>. <span class="badge badge-primary badge-pill">
              <% counter = 0 %>
              <% 5.times do %>
                <i class="fa <%= review.grade > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                <% counter += 1 %>
              <% end %>
            </span> <%= link_to review_path(review), method: :delete do %>
              <i class="far fa-trash-alt"></i>
            <% end %></p>
          <% end %>
        </div>
        <button class="btn btn-primary w-100" id="add-rev-button">Add a review!</button>
        <div class="card align-middle w-100" id="form-review-none">
          <div class="card-body">
            <h3 class="card-title">Add a review</h3>
            <%= simple_form_for [@cocktail, @review] do |f| %>
              <%= f.input :content%>
              <%= f.input :grade %>
              <%= f.submit class: 'btn btn-success w-100'%>
            <% end %>
          </div>
        </div>
    </div>
  </div>

  <div class="container mt-3">
  <%= link_to 'Back', cocktails_path, :class => "btn btn-danger w-100 align-bottom" %>
  </div>
</div>
